.loading-screen{
    position:fixed;
   
    inset:0;
}
.bar-container{
    display:flex;
    justify-content:center
}
.logo{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-60%) ;
    opacity:1;
    transition:all 0.5s ease;
    z-index:2
}
.logo.fade{
    opacity:0;
    transform: scale(0.8);
}
.guide{
    color:black;
    font-weight:bold;
    font-family:monospace;
    font-size:1.2rem;
}
.go{
    color:white;
    font-weight:bold;
    font-family:monospace;
    font-size:1.2rem;
}
.bar{
  
    width:calc(100vw/7);
    height:100vh;
    border:0.001px solid white;
    background-color: #f5650B;
    transform:translateY(0);
    transition:transform 0.8s ease;
    transition-delay:var(--delay)
}

.bar.animate{
    transform:translateY(-100%)
}